.vscode
.autotools
.settings
.cproject
.project
Debug
build
bin
lib
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
Extracted
*.ttf
*.log
Games
GFX
*.cfg
*.txt